* {
  margin: 0;
  padding: 0;
}

@keyframes latido {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1.25);
  }
  50% {
    transform: scale(1.75);
  }
  100% {
    transform: scale(1);
  }
}
header nav {
  background-color: rgb(41, 41, 165);
}
header nav .navbar-collapse {
  align-items: center;
  justify-content: space-between;
}
header nav .navbar-collapse #logo {
  animation-name: latido;
  animation-duration: 4s;
}
header nav .navbar-collapse .nav-link {
  background-color: red !important;
  color: white !important;
  margin: 2px;
  border: 1px solid white;
  border-radius: 5px;
  text-decoration: none;
}
header .Titulo {
  color: #FFFFFF;
  text-align: center;
}

.socios-bg {
  background-image: url(../images/fondodepantallagris-rojo.jpg);
  background-size: cover;
}

.FondoContacto {
  background-image: url(../images/fondodepantallagris.jpg);
  background-size: cover;
}

.fondo404 {
  background-image: url(../images/block404.jpg);
  background-size: cover;
}

main {
  min-height: 85vh;
}

.carousel {
  background-color: blue;
}

.actividades .card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}
.actividades .card:hover > div {
  transform: rotateY(180deg);
}
.actividades .card > div {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.actividades .card > div > div {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.actividades .card > div > div:first-child {
  background-color: #bbb;
  color: black;
}
.actividades .card > div > div:last-child {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.productos .card1 {
  overflow: hidden;
}
.productos .card1 img {
  transition: 1s;
}
.productos .card1 img:hover {
  transform: scale(1.1);
}

.Historia-container {
  background-color: #FFFFFF;
  margin-top: 100px;
  margin-left: 30px;
}

.plantelprincipal {
  margin-top: 150px;
}

.contenedores {
  background-color: #FAB630;
  width: 350px;
  height: 180px;
  color: black;
  border: 2px solid red;
  margin-top: 50px;
  margin-bottom: 50px;
  display: inline-block;
}

.yale {
  width: 100px !important;
  height: 90px;
  margin-left: 60px;
}

.marne {
  width: 100px !important;
  height: 90px;
}

.slide {
  width: 500px;
  height: 200px;
  margin-bottom: 500px;
  margin-top: 200px;
}

.himno {
  margin-top: 80px;
}

.actividades li {
  margin-top: 10px;
  margin-right: 40px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: #FAB630;
  color: white;
}
.actividades li a {
  text-decoration: none;
  color: white;
}

.subtitulo {
  margin-top: 100px;
}

.registro {
  margin-bottom: 180px;
}

.contacto {
  margin-top: 80px;
  margin-bottom: 200px;
}

.pie-pagina {
  background-color: #EF4135;
  color: white;
  width: 100vw;
  height: 120px;
  text-align: center;
  padding-top: 15px;
  align-items: center;
  justify-content: center;
}

footer ul li {
  display: inline-block;
}

.icons {
  align-items: center;
  justify-content: center;
  padding-top: 18px;
  color: white;
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
